#header{
    min-height:100vh;
    min-width:100vw;
    background-image: url('../img/WP_snow1.jpg');
    background-repeat: no-repeat;
}
.navbar-ST{
    width:100vw;
   
}
.navigation-menu{
    display:inline-flex !important; 
   justify-content:flex-end !important;
}
#header a,li{
    color:white;
}
.flex{
    display:flex;
}
.navbar-brand-ST{
    font-size: 2em !important;
}
.nav-link-ST{
    font-size: 2em;
    margin-right:10px;
}

