.img-banner-container{
    height:100vh;
    background-position: center;
    background-size: cover;
}
.ST-main-title{
    font-family: 'Lato', sans-serif;
    color:#ededed;
    font-size:4.5rem;
    font-weight: bold;
    margin-top:1vh;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.ST-subtitle{
    font-family: 'Lato', sans-serif;
    font-size:2.5rem;
    font-weight: bold;
    margin-top:25vh;
    text-align: center;
    color:#ededed;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.nav-link-homepage-ST{
    font-size: 2rem;
    color:#ededed;
    font-family: 'Lato', sans-serif;
    margin-right:2vw;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   
}
.navbar-container-menu-md-plus{
    display:flex;
    width:100%;
    justify-content: flex-end; 
    align-items:center;
    padding: .5rem 1rem;
    flex-wrap: wrap;
    margin-bottom:2vh;
    list-style: none;
}

a:hover {
    color: black !important;
    text-decoration: none !important;
}
.navbar-brand-homepage-ST{
    font-size: 2.8em !important;
    font-family: RobotoCondensedBold, sans-serif;
    color:white;
}
.navbar-brand-ST{
    font-size: 2.8em !important;
    font-family: RobotoCondensedBold, sans-serif;
    color:black;
}


.ST-title{
    text-align: center;
    font-family: RobotoCondensedBold, sans-serif;
    color:black;
    margin-top:1vh;
}
.img-user{
    width:80px;
        height:80px;
    border-radius: 50%;
}
.bt-add-trick{
    position: fixed;
    bottom: 5vh;
    right: 5vw; 
}
.glyphicon-plus-sign{
    color : blue;
    font-size:5rem;
}
.trick-presentation{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.trick-name{
    text-align: center;
    font-family: RobotoCondensedBold, sans-serif;
    font-size:4rem;
    color:black;
    margin-top:1vh;
}
.trick-main-picture{
    max-height:70vh;
    max-width: 80vw;
}
.media-trick{
    margin-top:2vh;
    margin-bottom:2vh;
    border: 2px solid black;
}
.img-trick{
    width:100%;
    max-height:23vh;
}
.video-trick{
    width:100%;
    height:23vh;
}
.trick-description{
    margin-top:2vh;
    text-align: center;
    font-family: RobotoCondensedBold, sans-serif;
    font-size:2rem;
}
.trick-author{
    margin-top:1vh;
    text-align: right;
    font-family: RobotoCondensedBold, sans-serif;
    font-size:1.5rem;
}
.form-comment{
    display:flex;
    justify-content: center;
}
.form-contenu-input{
    width:60%;
}
/*.list-medias-trick{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top:3vh;
}*/

.glyph-container{
     display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.glyphicon-media{
    margin-top:3px;
    color:black;
    font-size:1vw;
}
.glyphicon-remove{
    color:red;
    font-size:1vw;
    margin-top:3px;
}
.update-medias-btns{
    display:flex;
    justify-content: center;
    align-items: center;
}
.medias-btns{
    margin-top:3vh;
    margin-right:1vw;
}
.img-update-media{
    width:50vw;
}
.video-update-media{
    min-width:50vw;
    min-height:30vh;
}

/* Spécifique à l'affichage mobile */
@media screen and (max-width: 576px) {
    .menu-md-plus{
        display: none;
    }
    .navbar-container-menu-md-less{
        display:flex;
        justify-content:space-around;
        align-items:center;
        padding: .5rem 1rem;
        flex-wrap: wrap;
        margin-bottom:2vh;
        list-style: none;
        border: 1px solid black;
    }
    .img-banner-container{
        height:33vh;
        background-position: center;
        background-size: cover;
    }
    .ST-main-title{
        font-family: 'Lato', sans-serif;
        color:white;
        margin-top:1vh;
        text-align: center;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .ST-subtitle{
        font-family: 'Lato', sans-serif;
        margin-top:5vh;
        text-align: center;
        color:white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .icons-menu-mobile{
        color:black;
        font-size:6vw;
    }
}
/* Spécifique à l'affichage md + */
@media screen and (min-width: 576px) {
    .menu-md-less{
        display: none;
    }
    
    
}