{% extends 'base.html.twig' %}

{% block title %}Accueil - SnowTricks{% endblock %}
{% block body %}
    {% block content %}
        <div class="container-fluid">
            <div class="row">
                <ul>
                    <li><a href="/SnowTricks/public/" >Les figures</a></li>
                    <li><a href="/SnowTricks/public/inscription" class="active">S'inscrire</a></li>
                    <li><a href="/SnowTricks/public/connexion">Se connecter</a></li>
                    {%if is_granted('IS_AUTHENTICATED_FULLY') == true %}
                        <li><a href="/SnowTricks/public/tableau-de-bord">Tableau de bord</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
        <div class="container">
            <h1 class='text-center'>Tableau de bord</h1>
            <h4 class='text-center'>Bienvenue {{ app.user.prenom}} {{ app.user.nom}}  </h4>
            <p> Que voulez-vous faire aujourd'hui ?</p>
            <div class="row">
                <div class="col-lg-6 col-md-12 bloc">
                    <a href="ajouter-une-figure">
                        <input class='bt_dashboard' type='button' value='Ajouter une figure'>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 bloc">
                    <a href="modifier-une-figure">
                        <input class='bt_dashboard' type='button' value='Modifier une figure'>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 bloc">
                    <a href="supprimer-une-figure">
                        <input class='bt_dashboard' type='button' value='Supprimer une figure'>
                    </a>
                </div>
            </div>
             <a href="deconnexion">
                 <button class="btn btn-primary">Déconnexion</button>
            </a>
        </div>         
    {% endblock %}
{% endblock %}