{% extends 'base.html.twig' %}

{% block title %}Accueil - Bibliothèque de l'école de Boursonne{% endblock %}
{% block body %}
    {% block content %}
        <div class="container-fluid">
            <div class="row">
                <ul>
                    <li><a href="/BibliothequeEcole/public/" class="active">Les figures</a></li>
                    <li><a href="/BibliothequeEcole/public/Bibliotheque">S'inscrire</a></li>
                    <li><a href="/BibliothequeEcole/public/Eleves">Se connecter</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Bienvenue sur Snow tricks</h1>
                    <h3>Venez découvrir tout ce qu'il y a à savoir sur le snowboard </h3>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}