{% extends 'base.html.twig' %}

{% block title %}Accueil - SnowTricks{% endblock %}
{% block body %}
    {% block content %}
        <div class="container-fluid">
            <div class="row">
                <ul>
                    <li><a href="/SnowTricks/public/" class="active">Les figures</a></li>
                    <li><a href="/SnowTricks/public/Inscription">S'inscrire</a></li>
                    <li><a href="/SnowTricks/public/Connexion">Se connecter</a></li>
                    {%if app.session.get('logged') == true %}
                        <li><a href="/SnowTricks/public/Connexion">Tableau de bord</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class='text-center'>Connexion</h1>
                     {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <form method="post">
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Sign in
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
        


